<div class="container">
  <form class="form-add-user" action="<%= sails.getBaseUrl()+'/create' %>" method="post">
    <span>Email</span>
    <p><input type="text" name="email" /></p>
    <span>Username</span>
    <p><input type="text" name="username" /></p>
    <span>Password</span>
    <p><input type="password" name="password" /></p>
    <p><button type="submit" name="button">Save</button></p>
  </form>
</div>
