<div class="container">
  <form class="form-add-user" action="<%= sails.getBaseUrl()+'/update/'+user.id %>" method="post">
    <span>Email</span>
    <p><input type="text" name="email" value="<%= user.email %>" /></p>
    <span>Username</span>
    <p><input type="text" name="username" value="<%= user.username %>" /></p>
    <span>Password</span>
    <p><input type="password" name="password" value="<%= user.password %>"/></p>
    <p><button type="submit" name="button">Save</button></p>
  </form>
</div>
